<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hankutech.ax.centralserver.dao.DeviceCameraDao">


    <insert id="batchInsertList" parameterType="list">
        insert into device_camera (id, device_id, camera_id, ai_type_array) values
        <foreach collection="list" item="dc" separator=",">
            (
                #{dc.id, jdbcType=VARCHAR},
                #{dc.deviceId, jdbcType=INTEGER},
                #{dc.cameraId, jdbcType=INTEGER},
                #{dc.aiTypeArray, jdbcType=VARCHAR}
            )
        </foreach>
    </insert>



    <select id="queryAiConfigList" resultType="com.hankutech.ax.centralserver.pojo.vo.AiConfigVO">
        select dc.id as id, dc.device_id as deviceId, dc.camera_id as cameraId, dc.ai_type_array as aiTypeArray,
            d.device_name as deviceName, c.camera_name as cameraName
        from device_camera as dc
        left join device as d on d.device_id = dc.device_id
        left join camera as c on c.camera_id = dc.camera_id
        <where>
            <if test="query.name != null and query.name != ''">
                <bind name="likeName" value="'%' + query.name + '%'"/>
                d.device_name like #{likeName, jdbcType=VARCHAR} or c.camera_name like #{likeName, jdbcType=VARCHAR}
            </if>
        </where>
        limit #{page.start,jdbcType=INTEGER}, #{page.pageSize,jdbcType=INTEGER}
    </select>

    <select id="queryAiConfigTotal" resultType="long">
        select count(dc.id)
        from device_camera as dc
        left join device as d on d.device_id = dc.device_id
        left join camera as c on c.camera_id = dc.camera_id
        <where>
            <if test="query.name != null and query.name != ''">
                <bind name="likeName" value="'%' + query.name + '%'"/>
                d.device_name like #{likeName, jdbcType=VARCHAR} or c.camera_name like #{likeName, jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <select id="getAiConfigById" resultType="com.hankutech.ax.centralserver.pojo.vo.AiConfigVO">
        select dc.id as id, dc.device_id as deviceId, dc.camera_id as cameraId, dc.ai_type_array as aiTypeArray,
        d.device_name as deviceName, c.camera_name as cameraName
        from device_camera as dc
        left join device as d on d.device_id = dc.device_id
        left join camera as c on c.camera_id = dc.camera_id
        where dc.id = #{id,jdbcType=VARCHAR}
    </select>



</mapper>